<form [formGroup]="memberForm">
  <h1 mat-dialog-title>Membership Form</h1>
  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input formControlName="name" matInput placeholder="Full Name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input formControlName="address" matInput placeholder="Address" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input formControlName="phoneNumber" matInput placeholder="Phone number" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date of Registration</mat-label>
    <input
      formControlName="rolesDate"
      matInput
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <!-- <div class="mb-3">
    <input
      formControlName="image"
      class="form-control"
      type="file"
      name=""
      id=""
    />
  </div> -->
  <div mat-dialog-action [align]="'end'">
    <button class="" mat-raised-button color="primary" (click)="register()">
      {{ actionBtn }}</button
    >&nbsp;&nbsp;
    <button class="" mat-raised-button color="warn" mat-dialog-close>
      Close
    </button>
  </div>
</form>
