<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <h1 class="text-white fw-bold" style="cursor:pointer;">
      <a
        mat-list-item
        (click)="onDashboard()"
        class="text-white"
        style="text-decoration: none"
      >
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >dashboard</mat-icon
        >
        &nbsp;Dashboard
      </a>
    </h1>
    <mat-nav-list>
      <a mat-list-item (click)="onMembers()" class="text-white">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >group</mat-icon
        >
        &nbsp;Members
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="btn btn-primary" (click)="opened = !opened">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >menu</mat-icon
        >
      </button>
      &nbsp;<span>Welfare Management System</span>
      <span class="spacer"></span>
      <span><a routerLink="/home"><button mat-raised-button color="warn">Logout</button></a></span>
    </mat-toolbar>
    <div class="page-contents">
      <app-insight *ngIf="showInsight"></app-insight>
      <app-members *ngIf="showMembers"></app-members>
      <app-add-member *ngIf="showAddMembers"></app-add-member>
      <app-contribution *ngIf="showAddContribution"></app-contribution>
      <app-member-profile *ngIf="showMemberProfile"></app-member-profile>
      <app-member-contribution *ngIf="showMemberContribution" ></app-member-contribution>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
