<mat-card class="example-card">
    <h1 class="text-center">Member Profile</h1>
    <div class="member-image" [align]="'center'" >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>
  <mat-card-content>
    
    <div>
        <h3>Name: <span>{{name}}</span></h3>
    </div>
    <hr>
    <div>
        <h3>Address: <span>{{address}}</span></h3>
    </div>
    <hr>
    <div>
        <h3>Phone Number: <span>{{phone}}</span></h3>
    </div>
    <hr>
    <div>
        <h3>Registration Number: <span>{{id}}</span></h3>
    </div>
    <hr>
    <div>
        <h3>Date of Registration: <span>{{registrationDate}}</span></h3>
    </div>
    
  </mat-card-content>
  <mat-card-actions>
    <div [align]="'center'" >
        <button (click)="onViewContribution()"mat-raised-button color="primary">Click to view Contribution</button>&nbsp;&nbsp;
        <button (click)="openAddContribution()" mat-raised-button color="primary">Add Contribution</button>
    </div>
  </mat-card-actions>
</mat-card>
