<div class="main-content mt-3">
      <div class="row ">
        <div class="col-sm text-center">
          <mat-card class="icons">
            <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
            <h3>Total Members</h3>
            <h3><span class="badge bg-secondary">{{countTotalMembers}}</span></h3>
          </mat-card>
        </div>
        <div class="col-sm text-center">
          <mat-card class="icons">
            <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
            <h3>Welfare Contributors</h3>
            <h3><span class="badge bg-secondary">300</span></h3>
          </mat-card>
        </div>
        <div class="col-sm text-center">
          <mat-card class="icons">
            <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
            <h3>Special Contribution</h3>
            <h3><span class="badge bg-secondary">300</span></h3>
          </mat-card>
        </div>
        <div class="col-sm text-center">
          <mat-card class="icons">
            <mat-icon aria-hidden="false" aria-label="Example home icon">group</mat-icon>
            <h3>Pending Contribution</h3>
            <h3><span class="badge bg-secondary">300</span></h3>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h1 class="text-center mt-4">Calendar</h1>
        </div>
        <div class="col-sm-4">
          <h1 class="text-center mt-4">Upcoming Events</h1>
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title >
                John Doe
                <h4 class="mt-3">Date: <span>Sunday,31st July 2022</span></h4>
                <h4 class="mt-0">Venue: <span>Dansoman</span></h4>
              </mat-card-title>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title >
                John Doe
                <h4 class="mt-3">Date: <span>Sunday,31st July 2022</span></h4>
                <h4 class="mt-0">Venue: <span>Dansoman</span></h4>
              </mat-card-title>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            <mat-card-title-group>
              <mat-card-title >
                John Doe
                <h4 class="mt-3">Date: <span>Sunday,31st July 2022</span></h4>
                <h4 class="mt-0">Venue: <span>Dansoman</span></h4>
              </mat-card-title>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      
    </div>
