.content{
    height: 100vh;
    background: url('../../assets/img/domore.jpg') #2a2a2a9a;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2{
    font-size: 30pt;
}

h3{
    font-size: 25pt;
    line-height: 1;
}

h4{
    font-size: 20pt;
    line-height: 1;
}

h6{
    font-size: 15pt;
    color: #000;
}

.time{
    font-size: 40pt;
}