<div class="content">
    <div class="mb-2 p-4">
        <h1 class="text-white text-center time">
            {{today | date:'h:mm a '}}
        </h1>
        <h1 class="text-white text-center mt-4">
            {{today | date:'fullDate'}}
        </h1>
    </div>
    <div class="row g-0">
    <div class="col-sm-7 text-center text-white">
        <img src="../../assets/img/cop.png" alt="">
        <h2 class="text-uppercase ">The Church of Pentecost</h2>
        <h3 class="text-uppercase ">Gbegbeyise District</h3>
        <h4 class="text-uppercase ">Mamponse Assembly</h4>
        <h4 class="text-uppercase ">Welfare Management System</h4>
    </div>
    <div class="col-sm-3 login-form">
        <h4 class="text-uppercase text-white">Login</h4>

        <form [formGroup]="signInForm">
            <mat-form-field appearance="fill">
                <mat-label >Username</mat-label>
                <input formControlName="username" matInput >
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div [align]="'end'">
                <button mat-raised-button color="primary" >Sign In</button>
            </div>
            
        </form>
            <div [align]="'end'">
                <button class="mt-3" mat-raised-button color="warn" (click)="openDialog()">Sign Up</button>
            </div>
        

        
    </div>
    <!-- <div class="col-sm-1"></div> -->

    <!-- Modal -->

    

</div>
<footer>
    <h6 class=" fixed-bottom text-center text-white">
        Copyright &copy; {{today | date:'yyyy'}} The Church of Pentecost - Mamponse Assembly
    </h6>
</footer>
</div>

